@model Progetto_19._07.Models.Verbale

<form asp-action="NewVerbale" method="post" class="form-horizontal">
    <div class="form-group">
        <label asp-for="DataViolazione" class="control-label"></label>
        <input asp-for="DataViolazione" class="form-control" type="date" />
        <span asp-validation-for="DataViolazione" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IndirizzoViolazione" class="control-label"></label>
        <input asp-for="IndirizzoViolazione" class="form-control" />
        <span asp-validation-for="IndirizzoViolazione" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NominativoAgente" class="control-label"></label>
        <input asp-for="NominativoAgente" class="form-control" />
        <span asp-validation-for="NominativoAgente" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DataTrascrizioneVerbale" class="control-label"></label>
        <input asp-for="DataTrascrizioneVerbale" class="form-control" type="date" />
        <span asp-validation-for="DataTrascrizioneVerbale" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Importo" class="control-label"></label>
        <input asp-for="Importo" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="Importo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DecurtamentoPunti" class="control-label"></label>
        <input asp-for="DecurtamentoPunti" class="form-control" type="number" />
        <span asp-validation-for="DecurtamentoPunti" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IdAnagrafica" class="control-label"></label>
        <input asp-for="IdAnagrafica" class="form-control" type="number" />
        <span asp-validation-for="IdAnagrafica" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IdViolazione" class="control-label"></label>
        <input asp-for="IdViolazione" class="form-control" type="number" />
        <span asp-validation-for="IdViolazione" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Salva" class="btn btn-primary" />
    </div>
</form>

